@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: rgb(243, 213, 237);
}

* {
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0px 15px;
}

.brand img{
    width: 50px;
    margin: 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 0px 8px;
}

.songItemContainer{
    margin-top: 50px;
}

.container{
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('pxfuel.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 13px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
   width: 80vw;
   cursor: pointer;

}

.songItem{
    display: flex;
    height: 50px;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 50%;

}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 9vw;
    text-align: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }